

header{
    background-color: rgb(54, 172, 245);
    background-image: url(../img/pattern.png);
    background-repeat:repeat-x;
    height: 130px;
    background-size: 33%;
    line-height:130px;
}
#logo{
    height: 50px;
    vertical-align:bottom;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.gray{
    color: rgb(169, 166, 166);
}
a{
    color: rgb(68, 176, 212);
    text-decoration: none;
}
.immaginiTim{
    margin-left: 1px;
}
.descrizione{
    font-size: small;
}
.lista{
    padding-left: 10px;
}
.intestazione{
    color: white;
    background-color: rgb(50, 151, 201);
}
th{
    text-align: left;
}
.light_blue{
    background-color: rgb(108, 190, 204);
}
.articolo{
    color: white;
    font-size: 25px;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    padding: 0; 
    
}
.articolo1{
    color: white;
    font-size: 25px;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    padding: 0; 
    
}
#monitor{
    background-image: url('../img/monitor.jpeg');
}
#sfondo{
    background-image: url('../img/graph.jpeg');
}